{
  "printWidth": 121,
  "proseWrap": "always",
  "tabWidth": 1,
  "useTabs": false,
  "singleQuote": false,
  "semi": true,
  "plugins": ["prettier-plugin-svelte"],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ]
}
